
* {
  box-sizing: border-box;
}
body {
  font-family:  Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(34, 33, 33);
  
  font-weight:normal;
 
}
.background{
  background-image: url(https://s3.amazonaws.com/clarityfm-production/attachments/20583/default/background.jpg?1523341818);
  background-repeat:no-repeat;
  background-size: cover;
}
.backg{
  background-image: url(https://images.pexels.com/photos/459301/pexels-photo-459301.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat:no-repeat;
  background-size: cover;

}
.index{
  background-image: url(https://s3.amazonaws.com/clarityfm-production/attachments/20583/default/background.jpg?1523341818);
  background-repeat:no-repeat;
  background-size: cover;
  min-height: 100vh;

}

html {
  box-sizing: border-box;
}
h1{
  color: white;
  font-size: 40px;
}
/* Nav bar Start here*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}
a:hover{
  color: #fff;
}
.header{
  border-bottom: 1px solid #E2E8F0;
 
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}
.nav-link{
  font-size: 1.6rem;
  font-weight: 400;
  color: white;
}

.nav-link:hover{
  color: #c4ee2c;
}
.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #f3f2f8;
}
@media only screen and (max-width: 800px) {
  .nav-menu {
      position: fixed;
      left: -100%;
      top: 0.5rem;
      flex-direction: row;
      padding: 2rem;
      width: 100%;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      box-shadow:#04AA6D;      
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 2.5rem 0;
      
  }

  .hamburger {
      display: block;
      cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}


}

/* Nav bar end here*/

/* Home */
.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
  padding-top: 15rem;;
}
.content * {
  z-index: 10;
}
.home-navigation .btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #245d09;
  border: 3px black;
 
  font-size: 30px;
  
}
.home-navigation .content h2 {
  font-size: 3rem;
}

.home-navigation .content p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 20px 0 30px;
}
.fas fa-chevron-right{
  border-radius: 50%;
  border: black;
}



/**/

/* Home page start here */
#about{
display: flex;
align-items: center;
justify-content: center;
padding: 3rem;
font-size: 20px;
}
.page{
  font-size: 30px;
  color: #0f2cea;
  display: flex;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  margin-left: 1rem;
  margin-right: 1rem;
  float:right;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-color: rgb(243, 142, 41);
  line-height: 40px;
  border: 2px solid #545d5d;
  box-shadow: 0px 1px #fff;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.55),
    0 0px 20px 0px rgba(0, 0, 0, 0.55);

  flex:20%;
  color: solid red;
}
.box-1 p{
  font-size: 25px;
  text-align:left;
}

.box{
flex: 50%;
width: 50%; 
 margin: auto;

 padding-bottom: 5px;
}
.box-1{
 flex: 80%;
 font-size: 18px;
 color: black;
 text-indent: 5%;
}
.end{
  display: flex;
 
  font-size: 25px;
}
h3{
  font-size: 18px;
  font-weight: lighter;
}
.spy{
  font-size: 20px;
}
.edu{
  width: 100%;


}



#about .box #myPic{
display: block;
 width: 100%;
 max-width: 400px; 
 height: auto; 
 margin: auto; 
 border-radius: 50%;
 margin-top: 6rem;
}
/*home page end here*/

/*Skills page start here*/
.Biography-1{
  color: #fff;
  font-size: 30px;
  margin-left: 6rem;
  margin-top: 4rem;;
  margin-right: 6rem;
  margin-bottom: 6rem;
  text-align: center;
  
}
.animate{
  display:flex;
  justify-content:space-evenly;
  margin-left: 6rem;
  margin-top: 4rem;;
  margin-right: 6rem;
  margin-bottom: 6rem;
  padding: 3px 3px;
}
.img-fluid{
  width: 100px;
  justify-content: center;
  align-content: center;
  margin-bottom: 4rem;
  margin-left: 6rem;
  margin-right: 6rem;
  padding: 3px 3px;
}

.text-1{
  text-align:center;
}

.icons{
  display: inline-block;
  flex:20%;
}
.icons-container{
  display: flex;
  flex-wrap: nowrap;
  flex: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
@media screen and (min-width: 250px) and (max-width: 1000px) {

  .img-fluid{
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin: 3px; 
  }
}


@media screen  and (min-width:1129px) {
  .box-1{
    flex: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    color: rgb(4, 4, 4);
    font-size: 25px;    
 }
}


@media screen and (max-width: 650px) {

  #about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .box{
   
    flex: 100%;
    width: 50%;
    margin: auto;
  }
  #about .box #myPic{
     display: block;
     width: 50%;
     height: 25em; 
     margin: auto; 
     margin-top: 5em;
     margin-bottom: 2em;
     /* border: 3px solid white;  */
  }
  .card h2{
    padding-top: 3rem;
  }
  h1{
    text-align: center;
    padding-right: 3px;
    padding-top: 3px;
    font-size: 40px;
   
  }
  
  .box-1{
    flex: 100%;
    margin-left: 2rem;
    margin-right: 2rem;
    color: white;
 }

.Biography-1{
  color: #fff;
  margin-left: 4rem;
  margin-right: 4rem; 
}



}
/* contact page start here */
.short{
  height: 47vh;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(9, 0, 0);
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical; 
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #0f2cea;
}
@media screen and (max-width: 270px) {
  #about .box #myPic{
    display: block;
    width: 50%;
    height: 15em; 
    margin: auto; 
    margin-top: 4em;
    margin-bottom: 4em;
    /* border: 3px solid white;  */
  }
  .box-1{
    flex: 100%;
    margin-left: 1rem;
    margin-right: 1rem;
    color: white;
  }
  .box-1 p{
    font-size: 15px;
    text-align:justify;
    line-height: 15px;
  }
  h2{
    font-size: 15px;;
  }
 
 
 
  .footer__content {
  
    padding: 15px;
    text-align: center;
    color: #fff;
    background-color: #2578c6;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    border: 3px solid white;
  }
  .nav-logo {
    font-size: 1.2rem;
    font-weight: 200;
    color: #f3f2f8;
  }
  .nav-item {
    margin-left: 1rem;
  }
  .nav-link{
    font-size: 1rem;
    font-weight: 100;
    color: white;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
  }
  .bar {
    display: block;
    width: 15px;
    height: 1px;
    margin: 2px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0.5rem;
    flex-direction: row;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:#04AA6D;      
}
.card-group-1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  text-align: center;

}
.container-3 {
  border-radius: 5px;
  /* background-image: url(https://media.istockphoto.com/photos/abstract-network-background-picture-id1194228699?k=20&m=1194228699&s=612x612&w=0&h=42MUHPwmG5Rq-S05VlueW350rtyHD45DtWgUYTACVLo=); */
  padding: 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 5rem;
  background-repeat:no-repeat;
  background-size: cover;
  border: 3px solid white;
}
.card-Project-1 {
  display: flex;
  float:left; 
  background:rgb(224, 215, 51);
  width:32%;
  min-height: 30vh;
  margin: 2px;
  border: 3px solid white; 
} 
.card-title{
  font-size: 18px;
}
.card-text{
  font-size: 16px;
  text-align: justify;
}
.card-body{
  margin-left: 1rem;
  margin-top: 2rem;;
  margin-right: 3rem;
  margin-bottom: 3rem;
  text-align:center;
 
  

}
  

.card-Project-2{
  display: flex;
  float:left; 
  background:rgb(224, 215, 51);
  width:32%;
  min-height: 30vh;
  margin: 2px;  
  border: 3px solid white;  
}
.card-Project-3{
  display: flex;
  float:right;
  background:rgb(224, 215, 51);
  width:32%;
  min-height: 30vh;
  margin: 2px;
  border: 3px solid white;  
}
.Biography-1{
  color: #fff;
  font-size: 15px;
  margin-left: 6rem;
  margin-top: 4rem;;
  margin-right: 6rem;
  margin-bottom: 6rem;
  text-align: center;
  text-align:justify;
}




}

/* Style the container/contact section */
.container-3 {
  border-radius: 5px;
  background-image: url(https://media.istockphoto.com/photos/abstract-network-background-picture-id1194228699?k=20&m=1194228699&s=612x612&w=0&h=42MUHPwmG5Rq-S05VlueW350rtyHD45DtWgUYTACVLo=);
  padding: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 5rem;
  background-repeat:no-repeat;
  background-size: cover;
  border: 3px solid white;
}

.cont{
  font-size: 50px;
  color: #fff;
}
.leave{
  color: #fff;
  font-size: 35px;
}
label{
  font-size: 20px;
  color: #fff;
}
.column {
  /* float: left; */
  width: 50%;
  margin-top: 6px;
  padding: 20px;
  margin: auto;  
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 1000px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
 
}
@media screen and (min-width: 610px){
.box{
    border-radius: 50%;
    padding-bottom: 3rem;
 }
}

section.footer {
  position: relative;
  font-family: "Poppins";
  padding: 25px 0px; 
}
.footer__content {
  
  padding: 25px;
  text-align: center;
  color: #fff;
  background-color: #2578c6;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  border: 3px solid white;
}
.footer__content img {
  width: 5%;
  position: absolute;
  top: -50px;
}
.footer__heading {
  position: relative;
}
.footer__heading h2 {
  background-color: #21d4fd;
  display: inline-block;
  padding: 0px 10px;
  position: relative;
  z-index: 9999;
}
.footer__heading::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 45%;
  height: 5px;
  margin: 0;
  border-radius: 50px;
  width: 20%;
  transform: translate(-50%, -50%); 
}
.footer__content p {
  font-size: 12px;
  font-weight: 100;
  padding: 10px 0px;
}
ul.social__media {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-top: 15px;
}
ul.social__media li {
  list-style-type: none;
  display: inline-block;
  margin-right: 15px; 
}
ul.social__media li a {
  color: #fff;
  font-size: 20px;
}
ul.social__media li {
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-color: rgb(37, 11, 230);
  line-height: 40px;
  border: 2px solid #545d5d;
  box-shadow: 0px 1px #fff;
  box-shadow: 0 2px 10px -1px rgba(0, 0, 0, 0.55),
    0 0px 20px 0px rgba(0, 0, 0, 0.55);
}
ul.bus__list {
  padding: 0;
  margin: 0;
} 
ul.bus__list li {
  list-style-type: none;
  margin-bottom: 5px;
}
.footer{
  height: 200px;
}
/* the project cards start here*/

.card-group-1{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  overflow: hidden;
  text-align: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 3rem;
  
}
.card-Project-1 {
  display: flex;
  float:left; 
  background:rgb(224, 215, 51);
  width:32%;
  min-height: 70vh;
  margin: 8px;
  padding: 3px;
  border: 3px solid white;  
} 
.card-Project-2{
  display: flex;
  float:left; 
  background:rgb(224, 215, 51);
  width:32%;
  min-height: 70vh;
  margin: 8px;
  padding: 3px;
  border: 3px solid white;  
}
.card-Project-3{
  display: flex;
  float:right;
  background:rgb(224, 215, 51);
  width:32%;
  min-height: 70vh;
  margin: 8px;
  padding: 3px;
  border: 3px solid white;  
}
.card-Project-1:hover {
   background-color: #21d4fd;
}
.card-Project-2:hover {
  background-color: #21d4fd;
}
.card-Project-3:hover{
   background-color: #21d4fd;
}

.pro{
  color: black;
  text-align:center;
  align-items: center;
  padding-top: 4rem;
  margin: 5px;
  align-self: flex-start;
  justify-content: flex-start;

}

.card-body{
  padding-top: 2rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
  
  
}
.card-title {
   font-weight: normal;
   font-size: 30px;
}
.card-text{
  font-size: 30px;
}

  

@media screen and (max-width: 1486px){
 
  .card-Project-3{
    display: flex;
    float:right;
    background:rgb(224, 215, 51);
    width:100%;
    min-height: 70vh;
    text-align: center;
    flex-wrap: wrap;
    
  
  }
  .card-Project-2{
    display: flex;
    float:left; 
    background:rgb(224, 215, 51);
    width:100%;
    min-height: 70vh;
    text-align: center;
    flex-wrap: wrap;
    
   
    
  }
  .card-Project-1 {
    display: flex;
    float:left; 
    background:rgb(224, 215, 51);
    width:100%;
    min-height: 70vh;
    text-align: center;
    flex-wrap: wrap;
    text-align: justify;
    
    
  } 


  
}
/*----The End-----*/



